.info {
    display: flex;
    background-color: #29d3d1;
    padding: 60px 10px 0;
}

.info__container {
    width: 100%;
}

.info__phone {
    margin: -140px 47px -60px 42px;
    background-image: url('../../images/iPhone.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.phone__screen {
    padding: 55px 17px 79px;
    width: 243px;
}

.info__title {
    margin: 0;
    opacity: 0.4;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.info__title_active {
    padding-bottom: 10px;
    opacity: 1;
    // border-style: none;
    border-bottom: 4px solid white;
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__item:last-child {
    margin-right: 0;
}

.info__text {
    margin: 0;
    margin-top: 30px;
    max-width: 700px;
    color: white;
    font-family: 'FuturaBookC';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.info__text:last-child {
    margin-top: 20px;
}

@media (max-width: 1399px) {
    .info__title {
        font-size: 28px;
    }
}

@media (max-width: 1239px) {
    .info {
        display: none;
    }
}