.info {
    display: flex;
    background-color: #29d3d1;
}

.info__phone {
    height: 565px;
    margin-top: -65px;
    margin-bottom: -75px;
}

.phone__screen {}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.info__title {
    cursor: pointer;
    margin-top: 70px;
    margin-right: 40px;
    color: white;
    font-family: 'FuturaDemiC';
    font-size: 32px;
    line-height: 63px;
}

.info__text {
    margin: 0;
    margin-bottom: 30px;
    max-width: 700px;
    color: white;
    font-family: 'FuturaBookC';
    font-size: 20px;
}