.App {
  margin: auto;
  width: 100%;
  max-width: 1600px;
}

.App__background {
  position: relative;
  background: url('../../images/bg.jpg');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}