$tablet: "(max-width: 1023px)";
$mobile: "(max-width: 767px)";

.stocks {}

.stocks__container {
    margin: auto;
    margin-top: 315px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}

.stocks__description {
    margin: 75px 0 0 auto;
}

.stocks__title {
    font-family: 'FuturaDemiC';
    font-size: 32px;
    margin: 0;
}

.stocks__text {
    font-family: 'FuturaBookC';
    font-size: 20px;
    max-width: 455px;
    margin: 35px 0 0;
}

.stocks__phones {
    margin-top: -150px;
    margin-right: auto;
    width: 550px;
}

.stocks__phones_first-phone {
    position: relative;
    z-index: 3;
    margin-right: -85px;
    margin-bottom: -13px;
}

.stocks__phones_second-phone {
    margin-bottom: 27px;
    z-index: 2;
}


@media ($tablet) {
    .stocks__phones {
       display: none;
    }

    .stocks__container { 
        margin-top: 0;
    }

    .stocks__description {
        margin: 50px auto;
        text-align: center;
    }
}

@media ($mobile) {
    .stocks__container {
        background-color: white;
    }

    .stocks__description {
        margin: 0 auto;
    }

    .stocks__text {
        margin: 30px 0 0;
    }

}

@media (max-width: 480px) {
    .stocks__text {
        max-width: 290px;
    }
}
