.footer {
    padding: 40px 160px;
    background: url('../../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    color: white;
}

.footer__hypertext {
    display: flex;
}

.footer__hypertext p { 
    color: #B5B5B5;
    font-family: 'FuturaBookC';
    font-size: 12px;
    text-decoration: underline;
}
.footer__hypertext p:first-child { 
   margin-right: 40px;
}

.footer__button {
    display: flex;
    color: white;
    padding: 10px 20px;
    background: none;
    text-transform: uppercase;
    width: 100%;
    max-width: 235px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    object-fit: cover;
    align-items: center;
    font-size: 16px;
    line-height: 19.5px;
}

.footer__button-icon {
    max-height: 20px;
    margin-right: 10px;
}