.Slider {
    width: 100%;
    position: relative;

    &__track {
        width: 100%;
        height: 190px;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: #eb645a;

    }

    &__item {
        max-height: 70px;
        max-width: 100px;
    }
}